body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c2e8ff;
  display: flex;
  flex-direction: row;
}

header {
  background-color: #1d63ed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  height: 100vh;
  width: 20%;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.header-logo img {
  height: 45px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.header-logo img:hover {
  scale: 1.1;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-nav button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 15rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-nav button:hover {
  scale: 1.05;
}

.header-nav button.selected-button {
  background-color: #c2e8ff;
  color: #17191e;
  border: none;
  border-radius: 5px;
}

.header-nav button.selected-button:hover {
  color: #17191e;
}

.header-home button {
  color: #a7a7a7;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-home button:hover {
  color: white;
  scale: 1.1;
}

.not-selected {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
}

.not-selected h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.not-selected p {
  font-size: 1.2rem;
}

.guide-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
}

.guide-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
}

.guide-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #1d63ed;
  font-weight: bold;
}

.guide-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #1d63ed;
  font-weight: bold;
}

.guide-content p {
  font-size: 1.2rem;
}

.guide-content a {
  color: #1d63ed;
  text-decoration: none;
}

.guide-content a:hover {
  text-decoration: underline;
}

.guide-content::after {
  content: "";
  display: block;
  height: 50px;
  flex-shrink: 0;
}
